<section class="">
    <div class="row m-0 p-3">
        <div class="col-md-3 shadow">
            <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" [routerLink]="['men']">Men</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" [routerLink]="['women']">Women</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" [routerLink]="['girl']">Girl</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" [routerLink]="['boy']">Boy</a>
                </li>
              </ul>
        </div>
        <div class="col">
            <router-outlet></router-outlet>
        </div>
    </div>
</section>