<section>
    <h1 class="prd-txt">All Product List</h1>
    <hr />
    <div class="d-flex">
      <div class="item" *ngFor="let item of Data">
        <div class="prd-img">
          <img class="car-img-top" src="{{ item.image }}" alt="Card img" />
          <div class="card-body">
              <h3>
                  <a class="card-title">{{ item.name }}</a>
          </h3>
          <span class="card-price">{{ item.category }}</span>
          <p>{{ item.price | currency : "INR" }}</p>
          <a class="btn btn-outline-primary">See Profile</a>
          <a class="btn btn-outline-danger" onclick="_delete()">Remove</a>

        </div>
        </div>
      </div>
    </div>
  </section>