img {
  width: 100%;
  height: 100%;
  border-radius: 0px 0px 10px 10px;
  border-bottom: 1px solid transparent;
}

.head{
  background-image: url("https://t4.ftcdn.net/jpg/03/09/86/97/360_F_309869755_IquCHHxF7YABo2odctUGEjMrgVDSM8qV.jpg");
  background-size: 100% 100%;
    height: 400px;
    display: flex;
    justify-content: end;
    align-items: center;
}

header{
  padding-top: 50px;
}
.prd-img {
  width: 227px;
  margin-bottom: 12px;
  height: 180px;
}

.txt{
  margin-right: 732px;
}

.item {
  margin: 0px;
  background: #f6f0f0;
  margin: 12px;
}

.d-flex {
  flex-wrap: wrap;
}

.dtl {
  margin: 0px 12px;
}

a {
  color: black;
  cursor: pointer;
}

.dtl>h3>a:active {
  color: pink;
}
button {
  margin: 5px;
  background: none;
  border: 1px solid white;
  color: white;
  padding: 12px 12px;
  border-radius: 6px;
}

.shopnow {
  background-color: white;
  color: black;
}
