<section class="container">
    <div class="row m-0 border rounded p-5">
        <div class="col-md-4" style="height: 290px;">
            <img class="border rounded shadow" src="{{getDetail[0].img}}" alt="">
        </div>
        <div class="col-md-8">
            <h1>{{getDetail[0].name}}</h1>
            <p><b>{{getDetail[0].price|currency:'INR'}}</b></p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum cum dolorem minus doloribus! Cupiditate distinctio explicabo aspernatur, ipsa illum saepe consectetur, obcaecati quae reprehenderit velit aperiam. Itaque esse provident voluptatum necessitatibus nemo at dolore ea possimus consectetur cum magnam illo natus, facere vel rem deleniti quaerat magni! At nisi recusandae quasi distinctio suscipit nobis deserunt.</p>
            <button class="btn btn-primary">Buy</button>
        </div>
    </div>
</section>